.ui-listview > li h3 { font-size: 1.1em; }
.ui-listview > li h3 { font-size: 0.9em; }

.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
	position:absolute; 
    top:10px; 
    left:10px; 
	margin:auto; 
}

.ui-input-search { margin:0 -8px 30px -8px }
.ui-listview > li p { margin:5px 0 0 0; }
.ui-listview > li h4 { margin:0 0; }

img.bildRezept, img.bildRezeptKlein {
	text-align: center;
 	margin-left:0 auto;
 	margin-right:0 auto;
}

img.bildRezeptKlein {
	margin-top:5px;
	margin-bottom:15px;
}

.ui-li-aside { 
    width: 70%;
    font-size: 90%;
    font-weight: normal;
	text-align:left;
}
#rezeptListe .ui-li-aside { 
    width: 20%;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right:50px;
	text-align:right;
}

#tabelleZutaten td.tabelleAnzahl { }

#actionListRezept .ui-li-aside, #actionListRezeptLinks .ui-li-aside, 
#actionListRezeptRechts .ui-li-aside, #actionListAnleitung .ui-li-aside{ 
    width: 50%;
}

.tabelleAnzahl { width:45px; }
.tabelleEinheit { width:60px; }

