.ui-listview > li h1 { font-size: 1.1em; }
.ui-listview > li h3 { font-size: 0.9em; }

.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
	position:absolute; 
    top:10px; 
    left:10px; 
	margin:auto; 
}

.ui-input-search { margin:0 -8px 30px -8px }
.ui-listview > li p { margin:5px 0 0 0; }
.ui-listview > li h4 { margin:0 0; }

img.bildRezept, img.bildRezeptKlein {
	text-align: center;
 	margin-left:0 auto;
 	margin-right:0 auto;
}

img.bildRezeptKlein {
	margin-top:5px;
	margin-bottom:15px;
}

.ui-li-aside { 
    width: 70%;
    font-size: 90%;
    font-weight: normal;
	text-align:left;
}
#rezeptListe .ui-li-aside { 
    width: 20%;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right:50px;
	text-align:right;
}


#actionListRezept .ui-li-aside, #actionListRezeptLinks .ui-li-aside, 
#actionListRezeptRechts .ui-li-aside, #actionListAnleitung .ui-li-aside{ 
    width: 50%;
}

#actionListZutat li span.einheit { display:inline-block; width: 30%; white-space:nowrap;padding-right:20px;}

/* iPad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */
#actionListZutat span.einheit { display:inline-block; width: 30%; white-space:nowrap;padding-right:20px;}

}

/* iPad Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */
#actionListZutat span.einheit { display:inline-block;  width: 20%; white-space:nowrap;padding-right:20px;}

}

/* iPhone Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { /* STYLES GO HERE */
#actionListZutat span.einheit { display:inline-block;  width: 30%; white-space:nowrap;padding-right:20px;}

}

/* iPhone Portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { /* STYLES GO HERE */ 
#actionListZutat span.einheit { display:inline-block;  width: 40%; white-space:nowrap;padding-right:20px;}

}

